//importa fonte pixelify doto
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Pixelify+Sans:wght@400..700&display=swap');

//importa bootstrap
@import 'bootstrap/scss/bootstrap';


//Fundo em gradiente
/*
.bg-dark {
       background: linear-gradient(
        -45deg,
        #ff0000,
        #000000,
        #050000,
        #ff5a5a
    );
//chama keyframe gradient
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

//animação de gradiente
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
footer{
    font-family: "Doto" , sans-serif;
    
}

.footer-container{
    border-radius: 0rem 1rem 0 0;
}

body{
    background-color: black;
}
    */
